<%- include('partials/header.ejs'); %>

<form action="/work" method="POST">
    <label for="task">Task:</label>
    <input type="text" placeholder="Enter task..." name="task" id="name">
    <input type="submit" value="Submit" id="btn1">
</form>

<h3>Work List</h3>

<div class="task-container">

    <% if (locals.wtasks) { %>
        <% for (let i = 0; i < wtasks.length; i++) { %>
            <div class="task">
                <input type="checkbox" name="check" id="check" value="check">
                <p class="text"><%= wtasks[i] %></p>
            </div>
        <% } %>
        
    <% } %>

</div>

<%- include('partials/footer.ejs'); %>